{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Click-It | Sign Up</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
  </head>

  <body class="text-center">
    <form class="form-signup" method="post">
      {% csrf_token %}
      <a href="/"><h1 class="h2 mb-5 font-weight-normal text-dark">Click-It</h1></a>
      <h2 class="h3 mb-3 font-weight-normal">Create your account</h2>
      <p>Already have an account? <a href="/signin">Sign in</a></p>

      {% for hidden_field in form.hidden_fields %}
      {{hidden_field}}
      {% endfor %}

      {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
        {{error}}
        {% endfor %}
      </div>
      {% endif %}

      {% for field in form %}
      {% if form.is_bound and field.errors %}
      {% render_field field class="form-control is-invalid" %}
      {% for error in field.errors %}
      <div class="invalid-feedback">
        {{error}}
      </div>
      {% endfor %}
      {% else %}
      {% render_field field class="form-control" %}
      {% endif %}
      {% endfor %}

      <button class="btn btn-lg btn-dark btn-block" type="submit">CREATE ACCOUNT</button>
    </form>
  </body>
</html>
